@model MyLibrary.Models.tblAutor
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:20px">
        <label>Emri Autorit</label>
        @* html helper ile yazar ismini alip db kaydedmek *@
        @Html.TextBoxFor(x => x.Emri, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Mbiemri Autorit</label>
        @Html.TextBoxFor(x => x.Mbiemri, new { @class = "form-control form-group" })
        @Html.ValidationMessageFor(x => x.Emri, "", new { @syle="color:red"})
    </div>
    <div style="margin-top:15px">
        <label>Te Dhenat e Autorit</label>
        @Html.TextBoxFor(x => x.Detaje, new { @class = "form-control" })
    </div>
    <div class="panel-body" style="margin-top:15px">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a href="/Autoret/Index/" class="btn btn-outline-warning">Back</a> 
    </div>
</form>

