@model MyLibrary.Models.tblPersoneli
@{
    ViewBag.Title = "Perditesimi i te dhenave te personelit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Update", "Personel", FormMethod.Post))
{
    <div style="margin-top:20px"></div>
    <div class="form-group">
        <div style="margin-top:15px">
            <label> Emri Personelit </label>
            @Html.TextBoxFor(x => x.Emri, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label> Mbiemri Personelit </label>
            @Html.TextBoxFor(x => x.Mbiemri, new { @class = "form-control" })
        </div>
    </div>
    <button class="btn btn-outline-success">Perditeso</button>
    <a href="/Personel/Index/" class="btn btn-outline-warning">Back</a>
}

