@model MyLibrary.Models.tblKategori
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:20px">
        <label>Emri Kategorise</label>
        <input type="text" class="form-control" name="Emri"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-outline-success">Save</button>
    </div>
</form>

